<!-- Footer -->

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">OpenLance</h5>
                <p>Сервис для поиска соискателей в сфере ИТ на некомереской основе</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Сервисы</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Справочная</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">О нас</a>
                    </li>
                    <li>
                        <a href="#!">Контакты</a>
                    </li>
                    <li>
                        <a href="#!">Условия</a>
                    </li>
                    <li>
                        <a href="#!">OL API</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<!-- Footer -->
</body>
</html>
