<!doctype html>
<html lang="ru">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Document</title>
    <!-- todo:Вставить подгрузки шрифтов и стилей и может быть скриптов -->

    <!-- / Meta -->
    <!-- Styles -->

    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="libs/MDBootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="libs/MDBootstrap/css/mdb.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- / Styles -->
    <!-- Scripts -->

    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/vue/dist/vue.js"></script>
    <!-- build:js js/compiled.js -->
    <script src="libs/markdown-js/dist/markdown.js"></script>
    <script src="libs/MDBootstrap/js/bootstrap.min.js"></script>
    <script src="libs/MDBootstrap/js/mdb.min.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
    <!-- / Scripts -->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">OpenLance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="create-ticket.html" class="nav-link">Создать объявление</a>
            </li>
            <li class="nav-item">
                <a href="tickets.html" class="nav-link">Объявления</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav nav-pills" id="lk-informer">
        <li class="nav-item" v-if="isAuth">
            <a href="sign-in.html" class="active">Войти</a>
        </li>
        <li class="nav-item" v-if="isAuth">
            <a href="sign-up.html" class="nav-link ">Зарегистрироваться</a>
        </li>
        <li class="nav-item" v-else="isAuth">
            <a href="user.html" class="nav-link">Личный кабинет</a>
        </li>
    </ul>
</nav>


<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="app">
                <h1>Главная</h1>
                {{hello}}

            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</footer>
</body>
</html>

